@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --verde-bonito: #2dbcae;
  --azul-acizentado: #1d293a;
  --verde-opaco: rgba(45, 188, 174, 0.25);

  --azul-escuro: #0f3f49;
  --verde: #63d471;
  --verde-musgo: #4e7d55;

  --rosa-escuro: #56494e;
  --vermelho: #db323d;
  --vermelho-escuro: #a62639;

  --azul: #064789;
  --azul-claro: #427aa1;
  --branco: #ebf2fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  
  background: var(--azul-acizentado);
}

main {
  width: 375px;
}

h1 {
  color: var(--branco);
  font-size: 2em;
  text-transform: uppercase;
}

header {
  display: flex;
  margin-top: 3rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-bottom-right-radius: 10px;
 
  margin: 2em 0 1em 0;
  width: 100%;
  height: 3em;

  color: var(--branco);
  box-shadow: 4px 7px 3px 1px var(--azul-claro);
}

label {
  width: 100%;
  margin: 0, 1em, 0, 10em;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

li div, section div {
  display: flex;
}

.btnEditar, 
.btnDeletar {
  border: none;

  width: 20px;
  height: 20px;

  margin-right: 0.5em;
 
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btnEditar:hover, 
.btnDeletar:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.btnEditar {
  background-image: url("../img/lapiz-1.png");
}

.btnDeletar {
  background-image: url("../img/lixeira.png");
}

/* ********** Input ********** */
.inputBox,
.sec-edita {
  display: flex;
  position: relative;
  /* border: none; */
}

.inputBox input,
.sec-edita input {
  width: 100%;
  padding: 10px;
  background: var(--azul-acizentado);
  
  outline: none;
  color: var(--branco);
  font-size: 1em;
  transition: 0.5s;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: none;
  border-top-right-radius: none;
  border-right: none;
}

.inputBox button,
.sec-edita button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.25);
  
  width: 30px;
  font-size: 2em;
  font-weight: 600;  

  border: none;
  transition: 0.5s;
}
.sec-edita .c {
  color: var(--verde);
}
.sec-edita .x {
  color: red;
  transform: rotate(45deg);
}

.inputBox div,
.sec-edita div {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-left: none;
  transition: 0.5s;
}

.inputBox span,
.sec-edita span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.sec-edita input:valid ~ span,
.sec-edita input:focus ~ span {
  color: var(--azul-claro);
  transform: translateX(10px) translateY(-5px);
  font-size: 0.65em;
  padding: 0 10px;
  background: var(--azul-acizentado);
  border-left: 1px solid var(--azul-claro);
  border-right: 1px solid var(--azul-claro);
  letter-spacing: 0.2em;
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span {
  background: var(--azul-claro);
  color: var(--azul-acizentado);
  border-radius: 4px;
}

.inputBox input:valid,
.inputBox input:focus,
.sec-edita input:valid,
.sec-edita input:focus {
  border: 1px solid var(--azul-claro);
  border-right: none;
}

.inputBox input:valid ~ div,
.inputBox input:focus ~ div,
.sec-edita input:valid ~ div,
.sec-edita input:focus ~ div 
{
  border: 1px solid var(--azul-claro);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-left: none;
}

.inputBox button:hover,
.sec-edita .c:hover
{
  cursor: pointer;
  color: var(--verde);
  
  animation: rotate 0.2s linear;
}

.sec-edita .x:hover {
  cursor: pointer;
  
  animation: rotate2 0.2s linear;
  /* transform: rotate(45deg); */
}

@keyframes rotate{
  0%{
      transform:rotate(0deg);
  }
  50%{
      transform:rotate(45deg);  
  }
  100%{
      transform: rotate(90deg);
  }
}

@keyframes rotate2{
  0%{
      transform:rotate(45deg);
  }
  50%{
      transform:rotate(90deg); 
  }
  100%{
      transform: rotate(135deg);
  }
}


/****** CheckBox e li ******/
.custom-checkbox input {
  display: none;
}

.custom-checkbox input + label:before {
  content: " ";
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: var(--azul-acizentado);
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: inline-block;
  vertical-align: middle;
  margin: 3px 8px 3px 8px;
}

.custom-checkbox input:checked + label:before {
  background-image: url("check-solid.svg");
  background-color: var(--azul-claro);
  border: 1px solid var(--azul-acizentado);
  /* padding: 1px; */
}

.custom-checkbox:nth-child(1) input:checked + label {
 /* color:var(--verde-bonito); */


  text-decoration: line-through;
}

label:hover {
  cursor: pointer;
}

/* ****************************************** */
.invisivel {
  display: none;
}

@media screen and (max-width: 375px){
  main{
    width: 300px;
  }
}