.container-cadastraItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 90%;
    border: 2px solid black;
    box-shadow: 2px 2px;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.container-cadastraItem input {
    width: 100%;
    height: 45px;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 0 15px;
    border-bottom-left-radius: 8px;
}

.container-cadastraItem button {
    width: 38px;
    height: 35px;
    box-shadow: 2px 2px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-image: url("../../../public/img/add-512.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #a9ddb7;
    cursor: pointer;
    margin-right: 5px;
}

.container-cadastraItem button:active {
    transform: translate(2px, 2px);
    box-shadow: 0 0;
    transition: transform 0.2s;
}
