.container-cadastraItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 360px;
    border: 2px solid black;
    box-shadow: 2px 2px;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.container-cadastraItem input {
    width: 100%;
    height: 45px;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 0 15px;
    border-bottom-left-radius: 8px;
}

.container-cadastraItem button {
    width: 38px;
    height: 35px;
    box-shadow: 2px 2px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-image: url("../../../public/img/add-512.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #a9ddb7;
    cursor: pointer;
    margin-right: 5px;
    transition-duration: 200ms, 200ms;
}

.container-cadastraItem button:active {
    transform: translate(2px, 2px);
    box-shadow: 0 0;
}
 
/* @keyframes fadeOut {
    0% { opacity: 1; }
    25% { opacity: 0.75; }
    50% { opacity: 0.50; }
    75% { opacity: 0.25; }
    100% { opacity: 0; }
} */

.span-mensagem {
    height: 0;
    transform: translateY(70px);
    font-weight: 600;
}

.span-tarefaAdicionada {
    color: blueviolet;

    /* -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    animation-fill-mode: forwards; */
}

/* .mostrar {

}

.esconder {

} */

.span-selecioneUmTarefa {
    color: red;
}

.secBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    /* padding-bottom: 10px; */
    border-bottom: 1px solid black;
}

.secBtn label {
    font-weight: 700;
}

.btn-prioridade {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    border: 2px solid black;
    box-shadow: 2px 2px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
}

input[type="radio"] {
    display: none;
}

.label-baixa {
    transition-duration: 200ms, 200ms;
    background-color: var(--prioridade-baixa);
}

.label-media {
    transition-duration: 200ms, 200ms;
    background-color: var(--prioridade-media);
}

.label-alta {
    transition-duration: 200ms, 200ms;
    background-color: var(--prioridade-alta);
}

#baixa:checked ~ .label-baixa {
    border-color: var(--prioridade-baixa);
    transform: translate(2px, 2px);
    box-shadow: 1px 1px;
}

#media:checked ~ .label-media {
    border-color: var(--prioridade-media);
    transform: translate(2px, 2px);
    box-shadow: 1px 1px;
}

#alta:checked ~ .label-alta {
    border-color: var(--prioridade-alta);
    transform: translate(2px, 2px);
    box-shadow: 1px 1px;
}

@media screen and (max-width: 400px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-cadastraItem {
        width: 100%;
        /* border: 1px solid red; */
    }

    .secBtn {
        width: 90%;
    }

    .span-selecioneUmTarefa {
        position: absolute;
        transform: translateY(120px);
    }
}