.item-lista {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 35px;
    padding-left: 15px;
    background-color: #bcd4e6;
    
    height: 45px;
    border: 2px solid black;
    box-shadow: 3px 3px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}

.item-lista div {
    display: flex;
    width: 100%;
    gap: 15px;
}

.texto-tarefa {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    padding-top: 3px;
    text-transform: capitalize;
}

.btn-delete {
    width: 38px;
    height: 33px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid black;
    box-shadow: 2px 2px;
    /* background-image: url("../../../public/img/trash-240.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    cursor: pointer;
    background-color:#e3baff ;
    margin-right: 5px;
}

.btn-delete:active {
    transform: translate(2px, 2px);
    box-shadow: 0 0;
    transition: transform 0.2s;
}

.item-lista label {
    display: flex;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox input + label:before {
    content: " ";
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 2px 2px;
    display: inline-block;
    vertical-align: middle;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.custom-checkbox input:checked + label:before {
    background-image: url("../../../public/img/check.svg");
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
}

label:hover {
    cursor: pointer;
}

.custom-checkbox input:checked ~ .texto-tarefa {
    text-decoration: line-through;
}

.container-prioridade {
    width: 70px !important;
    
    border: 2px solid black;
    box-shadow: 1px 2.5px;

    border-radius: 5px;
    transform: translate(-560%, -23px)  rotate(-35deg);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-prioridade p {
    font-size: 10px;
    font-weight: 700;
    
}

/* id prioridades */
#Baixa {
    background-color: var(--prioridade-baixa);
}

#Media {
    background-color: var(--prioridade-media);
}

#Alta {
    background-color: var(--prioridade-alta);
}

@media screen and (max-width: 400px) {
    .container-prioridade {
        transform: translate(-515%, -23px)  rotate(-35deg);
        margin-left: 2px;
    }
}