@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-width: 350px;
    max-width: 90vw;
    max-height: 90vh;
    border: 3px solid black;
    box-shadow: 15px 15px;
    text-align: center;
    background-color: #cfc2b8;
    margin: 25px 0 0 0;
    padding-bottom: 35px;
    overflow-y: scroll;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.App h1 {
    font-family: "Press Start 2P", cursive;
    margin: 30px 0 20px 0;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 40px;
}

.lista-tarefas {
    width: 90%;
}

.Array-preview {
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: start;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 400px) {
    .App {
        box-shadow: 10px 10px;
    }
}
